.contact {
    background-color: $bg2;
    padding: 90px 0 110px;
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2;
        grid-template-rows: 3;
    }
    &__info {
        max-width: 350px;
    }
    &__item {
        display: flex;
    }
    &__heading {
        font-size: 30px;
        margin-bottom: 25px;
    }
    &__link {
        font-weight: bold;
        margin-right: 4px;
    }
    &__text {
        color: $g1;
        margin-bottom: 25px;
    }
    &__caption {
        color: $g1;
        align-self: center;
        text-decoration: none;
        &:hover {
            color: $navy;
        }
    }
}