.cutaway {
    padding: 100px;
    text-align: center;
    @include media($tablet) {
        padding: 50px;
    }
    &__container {
        margin: 0 auto;
        max-width: 600px;
    }
    &__signature {
        margin: 20px auto 0;
    }
}