.cutaway {
    padding: 100px;
    text-align: center;
    &__container {
        margin: 0 auto;
        max-width: 600px;
    }
    &__signature {
        background-image: url("./img/signature.png");
        width: 223px;
        height: 57px;
        margin: 0 auto;
    }
}