.description {
    padding: 95px;
    margin-bottom: 0;
    &__heading {
        margin-top: 0;
    }
}
.about__description {
    background-color: #3e3e3e;
}
.about__heading {
    color: white;
}
.about__text {
    color: white;
}