.gallery {
    display: flex;
    flex-wrap: wrap;
    &__item {
        cursor: pointer;
        width: 25%;
        height: 300px;
        position: relative;
        overflow: hidden;
        background-color: $bg1;
        &:hover {
            .gallery__caption {
                opacity: 100%;
                transition: 0.2s ease;
            }
        }
        &:focus {
            outline: none;
            border: none;
            .gallery__caption {
                opacity: 100%;
                transition: 0.2s ease;
            } 
            .gallery__image {
                transition: 0.4s;
                width: 150%;
                height: 150%;
                margin-top: 0;
                margin-left: 0;
                filter: blur(3px) brightness(50%);
                }
            }
        }
    }
    &__caption {
        pointer-events: none;
        opacity: 0%;
        position: absolute;
        left: 10%;
        top: 0%;
        transform: translate(50%, 50%);
        color: white;
    }
    &__name {
        color: $navy;
    }
    &__image {
        object-fit: cover;
        width: 100%;
        height: 100%;
        &:hover {
            transition: 0.4s;
            width: 150%;
            height: 150%;
            margin-top: 0;
            margin-left: 0;
            filter: blur(2px) brightness(50%); 
        }
    }
    &__extension {
        background-color: $bg2;
        text-transform: uppercase;
        color: $bg3;
        text-align: center;
        padding: 45px;
        font-size: 12px;
    }
.extension {
    &__button {
        text-decoration: none;
        color: $bg3;
        &:hover {
            color: $g1;
            transition:  0.2s;
        }
    }
}