.gallery {
    display: flex;
    flex-wrap: wrap;
    &__item {
        cursor: pointer;
        width: 25%;
        height: 300px;
        position: relative;
        overflow: hidden;
        background-color: $bg1;
        @include media($tablet) {
            width: 50%;
        }
    }
    &:focus {
        outline: none;
        border: none;
        .gallery__caption {
            opacity: 100%;
        } 
        .gallery__image {
            width: 150%;
            height: 150%;
            margin-top: 0;
            margin-left: 0;
            filter: brightness(75%);
        }
    }
    &__caption {
        transition: opacity 0.2s ease;
        pointer-events: none;
        opacity: 0%;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: white;
        max-width: fit-content;
    }
    &__name {
        color: $navy;
        font-size: 30px;
        margin: 0;
        margin-bottom: 8px;
    }
    &__text {
        margin: 0;
        text-transform: uppercase;
    }
    &__image {
        transition: filter 0.2s ease;
        object-fit: cover;
        width: 100%;
        height: 100%;
        &:hover {
            filter: brightness(25%);
        }
    }
    &__extension {
        background-color: $bg2;
        text-transform: uppercase;
        color: $bg3;
        text-align: center;
        padding: 45px;
        font-size: 12px;
        @include media($tablet) {
            padding: 30px;
        }
    }

}
.extension {
    &__button {
        text-decoration: none;
        color: $bg3;
        transition: opacity 0.2s ease;
        &:hover {
            opacity: 50%;
        }
    }
}
.gallery__item:hover {
    .gallery__caption {
        opacity: 100%;
    }
}