
.header {
    background-image: url("./img/header_bg.jpg");
    background-size: contain;
    background-color: #efefef;
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    width: 31px;
    height: 25px;
    background-image: url('./img/logo.png'); //TODO: replace icon with svg
}

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: white;
    border: none;
    &__menu {
        width: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 35px;
        margin: 0 auto;
    }
    &__item {
        margin: 0 20px;
        transition: opacity 0.2s;
        text-transform: uppercase;
        &:focus-within {
            outline: none;
            opacity: 50%;
        }
        &:hover {
            opacity: 50%;
        }
    }
    &__link {
        padding: 5px;
        color: black;
        transition: opacity 0.2s;
        &:focus {
            outline: none;
            opacity: 50%;
        }
        &:hover {
            opacity: 50%;
        }
    }
    &__logo {
        list-style: none;
        padding: 0;
    }
}

.headnote {
    padding: 195px 0 195px 60%;
    &__heading {
        color: black;
        font-size: 35px;
        margin: 0;
    }
    &__text {
        max-width: 480px;
        color: $g1;
        font-size: 18px;
    }
    &__link {
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        background-color: $navy;
        color: white;
        padding: 20px 30px;
        display: block;
        width: fit-content;
        margin-top: 25px;
        transition: color 0.3s;
        &:enabled {
            outline: black auto 5px;
        }
        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}