
.header {
    background-size: contain;
    background-color: #efefef;
    background-repeat: no-repeat;
    &__container {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        background-image: url("./img/header_bg.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        @include media($tablet) {
            background-position: center;
            background-size: auto;
        }
        @include media($mobile) {
            padding-top: 72px;
        }
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: none;
    width: 100%;
    @include media($mobile) {
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: fixed;
        z-index: 2;
    }
    &__toggle-menu {
        background-image: url('../img/nav-open.png');
        display: block;
        background-color: white;
        background-repeat: no-repeat;
        width: 25px;
        height: 22px;
        border: none;
        &--close {
            background-image: url('../img/nav-close.png');
            width: 19px;
        }
    }
    &__header {
        display: none;
        @include media($mobile) {
            display: block;
            padding: 30px 0;
        }
    }
    &__menu {
        width: fit-content;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        padding-top: 35px;
        padding-bottom: 35px;
        margin: 0 auto;
        @include media($mobile) {
            display: none;
        }
        &--opened {
            transition: display 2s;
            display: block;
            padding-top: 0;
            text-align: center;
            width: 100%;
            background-color: white;
            .nav__item {
                margin-top: 10px;
            }
        }
    }
    &__item { 
        margin: 0 20px;
        transition: opacity 0.2s;
        text-transform: uppercase;
        @include media($mobile) {
            font-size: 20px;
        }
        &:focus-within {
            outline: none;
            opacity: 50%;
        }
        &:hover {
            opacity: 50%;
        }
    }
    &__link {
        padding: 5px;
        color: black;
        transition: opacity 0.2s;
        &:focus {
            outline: none;
            opacity: 50%;
        }
        &:hover {
            opacity: 50%;
        }
    }
    &__logo {
        list-style: none;
        padding: 0;
    }
}

.headnote {
    padding: 195px 100px 195px;
    margin: 0 0 0 auto;
    max-width: fit-content;
    @include media($tablet) {
        padding: 100px 0;
        margin: 0 auto;
    }
    @include media($mobile) {
        max-width: 320px;
    }
    &__heading {
        color: black;
        font-size: 35px;
        margin: 0;
        @include media($tablet) {
            font-size: 45px;
            margin: 0 auto 25px;
        }
        @include media($mobile) {
            font-size: 35px;
            text-align: center;
        }
    }
    &__text {
        max-width: 480px;
        color: $g1;
        font-size: 18px;
        @include media($tablet) {
            font-size: 20px;
            margin: 12px auto;
            text-align: center;
        }
    }
    &__link {
        text-transform: uppercase;
        font-size: 12px;
        text-align: center;
        background-color: $navy;
        color: white;
        padding: 20px 30px;
        display: block;
        width: fit-content;
        margin-top: 25px;
        transition: color 0.3s;
        &:enabled {
            outline: black auto 5px;
        }
        &:hover {
            color: rgba(255, 255, 255, 0.5);
        }
        @include media($tablet) {
            font-size: 20px;
            margin: 30px auto 0;
            text-align: center;
        }
    }
}