.information {
    display: flex;
    &__gallery {
        width: 50%;
        background-color: $bg1;
        min-width: 570px;
        background-image: url("../img/about-me.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    &__card {
        width: 50%;
        padding: 140px 85px;
        background-color: $bg2;
    }
    &__heading {
        max-width: 810px;
        margin: 0 auto;
        font-size: 30px;
    }
    &__text {
        margin: 50px 0;
        max-width: 420px;
        color: $bg3;
    }
    &__signature {
        margin-left: 0;
    }
}