.information {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    @include media($mobile) {
        flex-direction: column;
    }
    &__paragraph {
        margin-bottom: 20px;
    }
    &__gallery {
        width: 50%;
        background-color: $bg1;
        background-image: url("./img/about-me.jpg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        @include media($tablet) {
            background-size: auto;
        }
        @include media($mobile) {
            width: 100%;
            height: 255px;
            background-size: cover;
        }
    }
    &__card {
        width: 50%;
        padding: 140px 85px;
        background-color: $bg2;
        @include media($tablet) {
            padding: 80px 85px;
        }
        @include media($mobile) {
            width: 100%;
            padding: 40px;
        }
    }
    &__heading {
        max-width: 810px;
        margin: 0 auto;
        font-size: 30px;
    }
    &__text {
        margin: 50px 0;
        color: $bg3;
        @include media($tablet) {
            max-width: 420px;
        }
    }
    &__signature {
        margin-left: 0;
    }
}