.person {
    background-color: $bg3;
    background-image: url("./img/header-about-me.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    color: white;
    &__container {
        max-width: 500px;
        margin: 0 auto;
        padding: 110px 0;
        text-align: center;
        @include media($tablet) {
            padding: 50px 0;
        }
    }
    &_page_work {
        background-image: none;
        background-color: $bg2;
        color: black;
    }
}