.process {
    padding: 100px;
    &__video {
        position: relative;
        width: 1180px;
        height: 570px;
        background-color: #ededed;
        margin: 0 auto;
    }
}
.description {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    &__text {
        max-width: 475px;
        color: gray;
        margin: 0 auto;
    }
}