.process {
    padding: 100px;
    &__video {
        position: relative;
        width: 1180px;
        height: 570px;
        background-color: #ededed;
        margin: 0 auto;
    }
    &__button {
        background-image: url("./img/videosign.png");
        width: 85px;
        height: 85px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        &_enabled {
            display: block;
        }
        &_disabled {
            display: none;
        }
    }
}
.description {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
    &__text {
        max-width: 475px;
        color: gray;
        margin: 0 auto;
    }
}