.project {
    background-color: $g2;
    width: 100%;
    height: fit-content;
    &__slider {
        height: fit-content;
    }
    &__example {
        width: 100%;
        height: fit-content;
    }
    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
    &__info {
        background-color: $bg2;
        padding: 100px;
        width: 50%;
    }
    &__item {
        display: flex;
    }
    &__heading {
        font-size: 40px;
        margin-bottom: 35px;
        margin-top: 0;
    }
    &__text {
        color: $g1;
        margin-bottom: 25px;
    }
    &__link {
        font-weight: bold;
        margin-right: 4px;
        margin-bottom: 8px;
    }
    &__caption {
        color: $g1;
        margin-bottom: 8px;
    }
    &__gallery {
        width: 50%;
        height: 580px;
        position: relative;
    }
    &__image {
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);  
    }
}
.sidebar {
    grid-column: 1/3;
    grid-row: 2/2;
    background-color: #fff;
    &__menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 0;
        padding: 45px 0;
        margin: 0 auto;
    }
    &__link {
        text-decoration: none;
        color: black;
        background: none;
        border: none;
        font-size: 24px;
        &:hover {
            opacity: 50%;
            transition: 0.2s;
        }
    }
    &__more {
        position: absolute;
        left: -30px;
        top: -10px;
    }
    &__item {
        position: relative;
        text-transform: uppercase;
        font-size: 20px;
        align-self: center;
        &_first {
            ::before {
                content: url("./img/gal.png");
                margin-right: 10px;
                margin-left: -15px;
                position: absolute;
                margin-top: -3px;
            }
        }
        &_second {
            ::after {
                content: url("./img/gal2.png");
                margin-left: 10px;
                position: absolute;
                margin-top: -3px;
            }
        }
    }
}