.services {
    background-color: $bg2;
    padding: 50px;
    &__container {
        display: flex;
        margin: 0 auto;
        flex-wrap: wrap;
    }
    &__item {
        text-align: center; 
        width: 25%;   
        padding: 50px;
    }
    &__icon {
        background-repeat: no-repeat;
        align-self: center;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        &_order {
            &_1 {
                background-image: url("./img/sericon1.png");
            }
            &_2 {
                background-image: url("./img/sericon2.png");
            }
            &_3 {
                background-image: url("./img/sericon3.png");
            }
            &_4 {
                background-image: url("./img/sericon4.png");
            }
            &_5 {
                background-image: url("./img/sericon5.png");
            }
            &_6 {
                background-image: url("./img/sericon6.png");
            }
            &_7 {
                background-image: url("./img/sericon7.png");
            }
            &_8 {
                background-image: url("./img/sericon8.png");
            }
        }
    }
    &__caption {
        text-transform: uppercase;
        font-size: 12px;
    }
    &__text {
        color: gray;
        font-size: 12px;
        max-width: 230px;
        margin: 0 auto;
    }
}