.services {
    background-color: $bg2;
    &__container {
        padding: 50px;
        display: flex;
        margin: 0 auto;
        max-width: 1200px;
        flex-wrap: wrap;
    }
    &__item {
        text-align: center; 
        width: 25%;   
        padding: 50px;
        @include media($tablet) {
            width: 50%;
            padding: 25px;
        }
    }
    &__icon {
        background-repeat: no-repeat;
        align-self: center;
        width: 50px;
        height: 50px;
        margin: 0 auto;
        &_order_1 {
            background-image: url("./img/sericon1.png");
        }
        &_order_2 {
            background-image: url("./img/sericon2.png");
            width: 43px;
        }
        &_order_3 {
            background-image: url("./img/sericon3.png");
            width: 28px;
        }
        &_order_4 {
            background-image: url("./img/sericon4.png");
            width: 45px;
        }
        &_order_5 {
            background-image: url("./img/sericon5.png");
        }
        &_order_6 {
            background-image: url("./img/sericon6.png");
        }
        &_order_7 {
            background-image: url("./img/sericon7.png");
            width: 40px;
        }
        &_order_8 {
            background-image: url("./img/sericon8.png");
        }
    }
    &__caption {
        text-transform: uppercase;
        font-size: 16px;
    }
    &__text {
        color: gray;
        font-size: 14px;
        max-width: 230px;
        margin: 0 auto;
    }
}