.skills {
    display: flex;
    margin: 100px 0;
    &__example {
        width: 50%;
        background-image: url("./img/skills.jpg"); //TODO: replace bg image
    }
    &__caption {
        text-transform: uppercase;
    }
}
.scale {
    width: 50%;
    background-color: #fff;
    padding: 80px 100px;
    &__item {
        margin: 25px 0;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }
    &__visual {
        position: relative;
        height: 5px;
        background-color: #e9e9e9;
        grid-column: 1/3;
    }
    &__line {
        position: absolute;
        background-color: $navy;
        height: 100%;
        &_width {
            &_1 {
                width: 75%;
            }
            &_2 {
                width: 90%;
            }
            &_3 {
                width: 60%;
            }
        }
    }
    &__caption {
        align-self: center;
        font-weight: bold;
    }
}