.slogan {
    background-color: $navy;
    padding: 50px;
    text-align: center;
    color: white;
    &__heading {
        max-width: 810px;
        margin: 0 auto;
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 120px;
    }
    &__text {
        text-transform: uppercase;
        margin: 0 auto;  
        font-size: 12px;
    }
    &__carousel {
        margin: 100px auto;
        width: 40px;
        height: 10px;
        background-image: url("./img/carsign.png");
    }
}