.sponsors {
    padding: 100px 50px;
    @include media($tablet) {
        padding: 50px 40px;
    }
    @include media($mobile) {
        padding: 30px;
    }
    &__container {
        display: flex;
        justify-content: space-around;
        @include media($mobile) {
            flex-wrap: wrap;
        }
    }
    &__link {
        margin: 0 auto;
        transition: opacity 0.3s;
        @include media($tablet) {
            width: 50%;
        }
        @include media($mobile) {
            width: 100%;
            margin: 10px auto;
        }
        &:focus {
            outline: none;
            opacity: 50%;
        }
        &:hover {
            opacity: 50%;
        }
    }
    &__item {
        background-size: contain;
        background-repeat: no-repeat;
        width: 130px;
        height: 80px; 
        align-self: center;
        margin: 0 auto;
        @include media($tablet) {
            width: 90px;
        }
        &_order_1 {
            background-image: url("./img/sponicon1.png");
        }
        &_order_2 {
            background-image: url("./img/sponicon2.png");
        }
        &_order_3 {
            background-image: url("./img/sponicon3.png");
        }
        &_order_4 {
            background-image: url("./img/sponicon4.png");
        }
        &_order_5 {
            background-image: url("./img/sponicon5.png");
        }
    }
}