.sponsors {
    padding: 50px;
    &__container {
        display: flex;
        justify-content: space-around;
    }
    &__item {
        background-repeat: no-repeat;
        width: 130px;
        height: 80px; 
        align-self: center;
        &_order {
            &_1 {
                background-image: url("./img/sponicon1.png");
            }
            &_2 {
                background-image: url("./img/sponicon2.png");
            }
            &_3 {
                background-image: url("./img/sponicon3.png");
            }
            &_4 {
                background-image: url("./img/sponicon4.png");
            }
            &_5 {
                background-image: url("./img/sponicon5.png");
            }
        }
    }
}