@import "variables";
@import "header";
@import "about";
@import "header";
@import "skills";
@import "statistics";
@import "gallery";
@import "process";

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.heading {
    color: black;
    font-size: 30px;
}
.caption {
    font-size: 12px;
}
.link {
    text-decoration: none;
    color: black;
    &--active {
        color: white;
    }
}
.text {
    font-size: 18px;
}