@import "variables";
@import "header";
@import "cutaway";
@import "header";
@import "skills";
@import "statistics";
@import "gallery";
@import "process";
@import "footer";
@import "services";
@import "slogan";
@import "sponsors";
@import "message";
@import "description";
@import "information";
@import "person";
@import "offer";
@import "contact";
@import "map";
@import "project";

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.link {
    text-decoration: none;
    &--active {
        color: $navy;
        &:focus {
            opacity: 70%;
        }
    }
}
.signature {
    background-image: url("./img/signature.png");
    width: 223px;
    height: 57px;
}