@import "variables";
@import "header";
@import "about";
@import "header";
@import "skills";
@import "statistics";
@import "gallery";
@import "process";
@import "footer";
@import "services";
@import "slogan";
@import "sponsors";
@import "message";

*, *::after, *::before {
    box-sizing: border-box;
}
body {
    font-family: 'Oswald', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.caption {
    font-size: 12px;
}
.link {
    text-decoration: none;
    &--active {
        color: white;
        &:focus {
            opacity: 70%;
        }
    }
}